@import '../../style/variables.scss';

.pagination {
  margin-left: 12px;
  margin-bottom: 25px;

  ul {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .selected {
      color: $whiteColor;
      background-color: $primaryColor;
    }
  }

  li {
    width: 33px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    cursor: pointer;
    transition: all 0.3s linear;

    a {
      padding: 10px;
    }

    &:hover {
      color: $whiteColor;
      background-color: $primaryHoverColor;
    }
  }

  li:first-child,
  li:last-child {
    width: 30px;
    height: 37px;
  }
}
