@import '../../style//variables.scss';

.categories {
  margin-bottom: 67px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 8px;
    margin-right: 10px;
  }

  li {
    cursor: pointer;
    border-radius: 30px;
    background-color: $lightGrayColor;
    color: $blackColor;
    text-align: center;
    font-weight: 700;
    padding: 15px 30px;
    transition: all 0.3s ease;

    &:hover {
      color: $whiteColor;
      background-color: $grayColor;
    }

    &:active {
      color: $whiteColor;
      background-color: $darkGrayColor;
    }
  }

  li.active {
    color: $whiteColor;
    background-color: $darkGrayColor;
  }
}
