@import '../../style/variables.scss';

.main {
  &__title {
    color: $blackColor;
    font-size: 32px;
    letter-spacing: 0.32px;
    margin-bottom: 35px;
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 290px));
    gap: 55px 25px;
    justify-content: space-around;
    margin-bottom: 50px;
  }
}
