@import '../../style/variables.scss';

.header {
  padding: 40px 0px;
  margin-bottom: 80px;
  display: flex;
  border-bottom: 1px solid $grayColor;

  &__content {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    img {
      margin-right: 17px;
      object-fit: contain;
    }
  }
}

.title {
  color: $blackColor;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

.subtitle {
  color: $grayColor;
  font-weight: 400;
}
