@import './variables.scss';

.button {
  display: flex;
  align-items: center;
  font-weight: 700;
  border-radius: 30px;
  background-color: $primaryColor;
  padding: 12px 16px;
  transition: all 0.4s ease;

  &__header {
    span {
      color: $whiteColor;
    }

    img {
      margin-right: 8px;
    }

    &-delimiter {
      margin: 0px 15px;
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  &__header:hover {
    background-color: $primaryHoverColor;
  }

  &__pizza {
    border: 1px solid $primaryColor;
    background-color: $whiteColor;

    &-text {
      color: $primaryColor;
      font-size: 16px;
      margin-right: 8px;
    }

    &-icon {
      position: relative;
      display: inline-block;
      margin: 0px 12px 0px 5px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        background-color: $primaryColor;
        top: 50%;
        left: 0px;
        transform: translate(-50%, -50%);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }

    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      color: $whiteColor;
      border-radius: 30px;
      border: 1px solid $primaryColor;
      background: $primaryColor;
      font-weight: 700;
    }

    &:hover {
      transition: all 0.7s ease;
      background-color: $primaryColor;

      .button__pizza-text {
        color: $whiteColor;
      }

      .button__pizza-icon::after,
      .button__pizza-icon::before {
        background-color: $whiteColor;
      }

      .button__pizza-circle {
        color: $primaryColor;
        border-radius: 30px;
        border: 1px solid $whiteColor;
        background: $whiteColor;
      }
    }
  }

  &__cart-empty {
    background: $darkGrayColor;
    margin: 0px auto;
    width: 215px;
    height: 47px;

    span {
      margin: 0px auto;
      color: $whiteColor;
      font-style: normal;
      letter-spacing: 0.24px;
    }
  }
}
