@import './variables.scss';

.button {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: $primaryColor;
  padding: 15px 23px;

  &__header {
    span {
      color: $whiteColor;
    }

    img {
      margin-right: 8px;
    }

    &-delimiter {
      margin: 0px 15px;
      width: 1px;
      height: 25px;
      background: rgba(255, 255, 255, 0.25);
    }
  }

  &__pizza {
    border: 1px solid $primaryColor;
    background: #fff;
    &-icon {
      margin-right: 8px;
    }
    &-text {
      color: $primaryColor;
      font-size: 16px;
    }
  }
}
