@import './variables.scss';

.header__basket {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background: #fe5f1e;

  &-button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px 25px;
  }

  &-delimiter {
    margin: 0px 15px;
    width: 1px;
    height: 25px;
    background: rgba(255, 255, 255, 0.25);
  }

  span {
    color: $whiteColor;
  }

  img {
    margin-right: 8px;
  }
}
