@import './nullstyle.scss';
@import './variables.scss';
@import './button.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  background: $backgroundColor;
}

.wrapper {
  margin: 50px auto;
  background-color: $whiteColor;
  max-width: 1400px;
  width: calc(100vw - 100px);
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
}

.container {
  margin: 0 auto;
  width: 92.5%;
}
