$whiteColor: #fff;
$primaryColor: #21722e;
$darkGrayColor: #2c2c2c;
$blackColor: #000;
$primaryHoverColor: #07811b;
$grayColor: #7b7b7b;
$opacityWhiteColor: rgba(255, 255, 255, 0.5);
$lightGrayColor: #dfdfdf;
$backgroundColor: linear-gradient(
  90deg,
  rgba(252, 176, 69, 1) 0%,
  rgba(255, 82, 82, 1) 50%,
  rgba(252, 176, 69, 1) 100%
);
