@import '../../style/variables.scss';

.sort {
  position: relative;
  cursor: pointer;

  &__label {
    display: flex;
    align-items: center;
  }
  svg {
    text-align: center;
    align-items: center;
    margin-right: 7px;
  }

  p {
    display: inline-block;
    color: $darkGrayColor;
    margin-right: 8px;
  }

  span {
    color: $primaryColor;
    border-bottom: 1px dashed $primaryColor;
    font-size: 14px;
    font-weight: 400;
  }

  &__popup {
    position: absolute;
    left: 114px;
    z-index: 5;
    background-color: $whiteColor;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    width: 132px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    animation: popupAnimation 0.4s forwards;

    li {
      transition: all 0.2s linear;
      padding: 10px 0px 10px 14px;
    }

    li:first-child {
      margin-top: 10px;
    }

    li:last-child {
      margin-bottom: 10px;
    }

    li:hover {
      background: rgba(30, 254, 41, 0.05);
    }

    &-active {
      color: $primaryColor;
      background: rgba(30, 254, 41, 0.05);
      font-style: normal;
      font-weight: 700;
    }
  }
}
